<template>
    <header class="header">
        <br>
        <h1 style="font-size: 50px">TodoListings</h1>
        <div id="nav">
            <router-link to="/" style="color:#fff;">Home</router-link> |
            <router-link to="/about" style="color:#fff;">About</router-link>
        </div>
    </header>
</template>

<script>
export default {
    name: "Header"
}
</script>

<style scoped>
    .header {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .header a {
        color: #fff;
        padding-bottom: 5px;
        text-decoration: none;
    }
</style>